@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-family: "Grand Hotel", cursive;
}
.brand-logo {
  font-family: "Grand Hotel", cursive;
}
nav {
  height: 66.6px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}
nav .nav-wrapper {
  height: auto !important;
}
.auth-card {
  padding: 20px 32px;
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
}

input[type="text"] {
  background: red;
}

input[type="text"]:focus {
  border-bottom: 1px solid #ee6e73 !important;
  box-shadow: 0 1px 0 0 #ee6e73 !important;
  color: green;
}

input[type="password"]:focus {
  border-bottom: 1px solid #ee6e73 !important;
  box-shadow: 0 1px 0 0 #ee6e73 !important;
}

.btn.btn-file {
  position: relative !important;
  overflow: hidden !important;
}
.btn-file > input[type="file"] {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  font-size: 100px;
  text-align: right !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
  outline: none !important;
  background: rgb(22, 13, 13) !important;
  cursor: inherit !important;
  display: block !important;
}

.file-path-wrapper > input[type="text"] {
  border-bottom: none;
}

.file-path.validate:focus {
  border-bottom: none;
}

.valign-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  left: -10px !important;
}

.col > .s6 {
  margin-left: -40px !important;
  padding: 0 !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin: 10px 0px 10px 0px;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
